.logo {
    display: flex;
    justify-content: center;
    width: 100%; /* Isso garante que a div ocupe o espaço necessário */
    
    margin-top: 1.5625rem;
    
}

.back{
    margin-top: 3.875rem;
    margin-bottom: 1rem;
}

@media (width < 80em) {
    .logo img {
        display: none;
    }
}


